[user]
    name = mxaddict
    email = mxaddict@codedmaster.com
[color]
    ui = true
[core]
    excludesfile = ~/.gitignore
[diff]
    tool = vimdiff
[merge]
    tool = vimdiff
[url "ssh://git@github.com/"]
    insteadOf = https://github.com/
