# Get editor completions based on the config schema
"$schema" = 'https://starship.rs/config-schema.json'

# Disable the blank line before prompt
add_newline = false

# Update the format
format = '$all'

[username]
disabled = false
show_always = true
format = '[$user]($style)@'

[hostname]
disabled = false
ssh_only = false
format = '[$hostname](bold red):'

[directory]
truncate_to_repo = false

[git_branch]
symbol = ' '
format = '[$symbol$branch(:$remote_branch)]($style) '

[git_status]
style = 'bold white'
ahead = '[⇡${count}](blue)'
behind = '[⇣${count}](blue)'
conflicted = '[=${count}](red)'
deleted = '[✘${count}](red)'
diverged = '[⇕⇡${ahead_count}⇣${behind_count}](yellow)'
modified = '[!${count}](red)'
renamed = '[»${count}](green)'
staged = '[+$count](green)'
stashed = '[\$${count}](yellow)'
untracked = '[?${count}](red)'
up_to_date = ''

[c]
symbol = ' '
detect_files = ['autogen.sh', 'configure', 'configure.ac']
commands = [ [ 'clang', '--version' ], [ 'gcc', '--version' ], [ 'cc', '--version' ] ]
